.container {
  display: flex;
  height: 100%;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }

  aside {
    flex: 1 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    max-width: 200px;
    background: #efefef;
    border-right: 2px solid #ccc;

    @media (max-width: 768px) {
      max-width: none;
    }
  }

  .content {
    flex-grow: 1;
    position: relative;
    overflow-y: scroll;
  }
}