.container {
  display: flex;
  align-items: stretch;
  height: 100vh;

  nav {
    min-width: 200px;
    background: #efefef;
    border-right: 2px solid #ccc;
  }

  .content {
    flex-grow: 1;
    position: relative;
    padding: 2rem;
  }
}