<header class="label-wrapper">
  <label>About Me</label>
</header>
<blockquote>
  <p>My name is <strong>Laura Witherspoon</strong>. I'm a full-stack developer with extensive experience designing, developing, and maintaining web applications both on-premise and in the cloud.</p>
  <p>I excel at communicating effectively with developers, business stakeholders, project managers, and end-users to deliver well-performing, modern web applications that users love. I am <strong>driven to learn the latest trends and best practices</strong>, and am passionate about building robust full-stack solutions from the data layer to the front-end.</p>
  <p>I specialize in:</p>
  <ul>
    <li>Angular</li>
    <li>.NET Web APIs</li>
    <li>AWS</li>
  </ul>
</blockquote>