<section class="wrapper">
  <header class="label-wrapper">
    <label>About Me</label>
  </header>
  <blockquote>
    <p>My name is <strong>Laura Witherspoon</strong>. I'm a full-stack developer with extensive experience designing, developing, and maintaining web applications both on-premise and in the cloud.</p>
    <p>I excel at communicating effectively with developers, business stakeholders, project managers, and end-users to deliver well-performing, modern web applications that users love. I am <strong>driven to learn the latest trends and best practices</strong>, and am passionate about building robust full-stack solutions from the data layer to the front-end.</p>
    <p><a href="https://www.linkedin.com/in/laura-witherspoon-28958a4b/" target="_blank"><i class="pi pi-linkedin"></i> Check out my LinkedIn profile</a></p>
    
    <p-fieldset legend="Technical Expertise">
      <ul>
        <li><strong>Languages:</strong> TypeScript, JavaScript, C#, Java, PowerShell</li>
        <li><strong>Frameworks:</strong> Angular, AngularJs, .NET Framework, .NET Core, ASP.NET Web APIs</li>
        <li><strong>Web Technologies:</strong> RESTful APIs, HTML/CSS, Sass/Less, JSON, Bootstrap, Angular Material</li>
        <li><strong>Databases:</strong> MS SQL Server, MySQL, EntityFramework</li>
        <li><strong>Cloud:</strong> AWS (ACM, API Gateway, CloudFormation, CloudFront, EC2, S3, IAM, Lambda, RDS, SecretsManager)</li>
        <li><strong>Development:</strong> Git, GitHub Enterprise, NPM, CI/CD pipelines, TeamCity</li>
        <li><strong>Methodologies:</strong> Agile/Scrum, Test-Driven Development, OOP, DevSecOps, FinOps, SOLID design principles</li>
      </ul>
    </p-fieldset>
  </blockquote>
</section>