<div id="portfolio" ng-init="initialize()">
  <h1>Portfolio of Work</h1>
  <div class="filters">
    <a class="btn btn-default all active" ng-click="filter()">All</a>
    <a class="btn btn-default web-design" ng-click="filter('Web Development')">Web Development</a>
    <a class="btn btn-default graphic-design" ng-click="filter('Graphic Design')">Graphic Design</a>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-6 work" ng-repeat="work in works | filter : portfolioFilter" ng-class="{'web-development': work.tag == 'Web Development','graphic-design': work.tag == 'Graphic Design'}" ng-click="expand(work.id)">
        <h4>{{work.title}}</h4>
        <img src="{{work.thumbnail}}" ng-show="work.thumbnail">
        <img src="{{work.image}}" ng-show="!work.thumbnail">
      </div>
    </div>
  </div>
  
</div>