<ul>
  <li>
    <a
    routerLink="/home"
    routerLinkActive="active"
    ariaCurrentWhenActive="page">
      Home
    </a>
  </li>
  <li>
    <a
      routerLink="/about"
      routerLinkActive="active"
      ariaCurrentWhenActive="page">
        About
    </a>
  </li>
  <li>
    <a
      routerLink="/education"
      routerLinkActive="active"
      ariaCurrentWhenActive="page">
        Education
    </a>
  </li>
  <li>
    <a
      routerLink="/career"
      routerLinkActive="active"
      ariaCurrentWhenActive="page">
        Career
    </a>
  </li>
</ul>