<section class="wrapper">
  <header class="label-wrapper">
    <label>My Career</label>
  </header>
  
  <p-timeline [value]="jobs">
    <ng-template pTemplate="content" let-job>
        <p>{{ job.description }}</p>
    </ng-template>
    <ng-template pTemplate="opposite" let-job>
      <label class="p-text-primary title">{{ job.title }}</label>
      <small class="p-text-secondary">{{ job.company }}</small>
      <small class="p-text-secondary">{{ job.timeframe }}</small>
    </ng-template>
  </p-timeline>
</section>