.main {
  background: url(../../assets/genesis-II-frank-marc.jpg);
  box-shadow: inset 0 0 0 2000px rgba(175, 225, 255, 0.5);
  background-size: cover;
  padding: 3rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

h1 {
  font-size: 4rem;
  font-family: 'Permanent Marker', cursive;
  margin: 0;
}

h2 {
  font-size: 1.25rem;
}

header {
  display: flex;
  background: rgba(256,256,256, 0.4);
  border-radius: 100px;
}

.name {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid white;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 60%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}